@define-color fg	#e0fbfc;
@define-color fg-dark	#98c1d9;
@define-color bg-dark	#293241;
@define-color bg-light	#3d5a80;
@define-color accent	#ee6c4d;

* {
    border: none;
    border-radius: 0;
    font-family: 'JetBrainsMono Nerd Font', 'Hack Nerd Font', 'UbuntuMono', monospace;
    font-size: 14px;
    font-weight: 600;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window.#waybar {
    background-color: @bg-dark;
    opacity: 0.8;
}

#workspaces {
    margin: 6px 2px;
}

#workspaces button {
    padding: 6px 10px;
    margin: 0 2px;
    color: @fg-dark;
    border-radius: 8px;
    font-weight: bold;
}

#workspaces button.active {
    background: @accent;
    color: @fg;
    font-weight: bold;
    opacity: 1;
    border-color: @bg-light;
}

#workspaces button:hover,
#workspaces button.focused {
    background: @bg-light;
    color: @fg;
    font-weight: bold;
    opacity: 1;
    border-color: @bg-light;
}

#workspaces button.empty {
    opacity: 0.6;
}

#custom-power {
    margin: 0 20px 0 0;
    color: white;
}
